{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{# <head> #}
{% block title %}Better Know{% endblock %}

{% block stylesheets %} {{ parent()}} {% endblock %}

{%  block javascripts_head %} {{ parent()}} {% endblock %}
{# </head> #}

{# <body> #}





{# </body> #}