body{
    background-color: #1bbc9b;
}

.login-form-header{
    width: 80%;
    padding: 10px;
    background-color: #FFA100;
    margin: 100px auto 0px;
    text-align: center;
}

.login-wrapper{
    width: 80%;
    padding: 60px 60px 80px 60px;
    margin: 0px auto;
    background-color: white;
}

label{
    font-weight: 100;
    font-size: 13px;
}

.btn-cfg{
    margin-top: 20px;
    color: black;
    background-color: #FFA100;
}

.button-right{
    float: right;
}

.button-left{
    float: left;
}

.button-position a:hover{
    background-color: #ffa100;
}

.forgot-password{
    margin-top: 20px;
    font-size: 12px;
}

.forgot-password a, .forgot-password a:hover{
    color: #ffa100;
}

.btn-default:hover {
    color: black;
    background-color: #ffa100;
    border: 2px solid #C67D00;
}
